.headerImage {
  display: flex;
  justify-content: center;
}

.headerMain {
  padding: 30px 0px;
}

.headerLinks {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding-top: 50px;
}

.headerLinks P {
  cursor: pointer;
  font-size: 20px;
  font-weight: lighter;
}

.headerLinks a {
  color: black;
}

.smallScreenHeader{
  display: none;
}


@media screen and (max-width:900px) {
  .BigScreenHeader{
    display: none;
  }

  .smallScreenHeader{
    display: block;
  }

}


.headerLinksWrapper{
  background-color:  	#8B4513;
  display: flex;
  justify-content: center;
  color: #f1f1f1;
  height: 110px;
}

.headerLinksWrapper p{
  color: #f1f1f1;
}


/* The active Link */
.activeLink{
  color: #8B4513;
  cursor: pointer;
}

.activeNavLink{
  color: #D2691E;
}