* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

:root {
  --awb-color1: rgba(255, 255, 255, 1);
  --awb-color1-h: 0;
  --awb-color1-s: 0%;
  --awb-color1-l: 100%;
  --awb-color1-a: 100%;
  --awb-color2: rgba(246, 246, 246, 1);
  --awb-color2-h: 0;
  --awb-color2-s: 0%;
  --awb-color2-l: 96%;
  --awb-color2-a: 100%;
  --awb-color3: rgba(235, 234, 234, 1);
  --awb-color3-h: 0;
  --awb-color3-s: 2%;
  --awb-color3-l: 92%;
  --awb-color3-a: 100%;
  --awb-color4: rgba(224, 222, 222, 1);
  --awb-color4-h: 0;
  --awb-color4-s: 3%;
  --awb-color4-l: 87%;
  --awb-color4-a: 100%;
  --awb-color5: rgba(171, 139, 101, 1);
  --awb-color5-h: 33;
  --awb-color5-s: 29%;
  --awb-color5-l: 53%;
  --awb-color5-a: 100%;
  --awb-color6: rgba(116, 116, 116, 1);
  --awb-color6-h: 0;
  --awb-color6-s: 0%;
  --awb-color6-l: 45%;
  --awb-color6-a: 100%;
  --awb-color7: rgba(109, 68, 18, 1);
  --awb-color7-h: 33;
  --awb-color7-s: 72%;
  --awb-color7-l: 25%;
  --awb-color7-a: 100%;
  --awb-color8: rgba(51, 51, 51, 1);
  --awb-color8-h: 0;
  --awb-color8-s: 0%;
  --awb-color8-l: 20%;
  --awb-color8-a: 100%;
  --awb-custom10: rgba(160, 206, 78, 1);
  --awb-custom10-h: 82;
  --awb-custom10-s: 57%;
  --awb-custom10-l: 56%;
  --awb-custom10-a: 100%;
  --awb-custom11: rgba(0, 0, 0, 1);
  --awb-custom11-h: 0;
  --awb-custom11-s: 0%;
  --awb-custom11-l: 0%;
  --awb-custom11-a: 100%;
  --awb-custom12: rgba(120, 73, 32, 1);
  --awb-custom12-h: 28;
  --awb-custom12-s: 58%;
  --awb-custom12-l: 30%;
  --awb-custom12-a: 100%;
  --awb-custom13: rgba(235, 234, 234, 0.8);
  --awb-custom13-h: 0;
  --awb-custom13-s: 2%;
  --awb-custom13-l: 92%;
  --awb-custom13-a: 80%;
  --awb-custom14: rgba(248, 248, 248, 1);
  --awb-custom14-h: 0;
  --awb-custom14-s: 0%;
  --awb-custom14-l: 97%;
  --awb-custom14-a: 100%;
  --awb-custom15: rgba(132, 78, 2, 1);
  --awb-custom15-h: 35;
  --awb-custom15-s: 97%;
  --awb-custom15-l: 26%;
  --awb-custom15-a: 100%;
  --awb-custom16: rgba(66, 66, 66, 1);
  --awb-custom16-h: 0;
  --awb-custom16-s: 0%;
  --awb-custom16-l: 26%;
  --awb-custom16-a: 100%;
  --awb-custom17: rgba(232, 232, 232, 1);
  --awb-custom17-h: 0;
  --awb-custom17-s: 0%;
  --awb-custom17-l: 91%;
  --awb-custom17-a: 100%;
  --awb-custom18: rgba(153, 153, 153, 1);
  --awb-custom18-h: 0;
  --awb-custom18-s: 0%;
  --awb-custom18-l: 60%;
  --awb-custom18-a: 100%;
  --awb-typography1-font-family: Inter, Arial, Helvetica, sans-serif;
  --awb-typography1-font-size: 48px;
  --awb-typography1-font-weight: 600;
  --awb-typography1-font-style: normal;
  --awb-typography1-line-height: 1.2;
  --awb-typography1-letter-spacing: -0.015em;
  --awb-typography1-text-transform: none;
  --awb-typography2-font-family: Inter, Arial, Helvetica, sans-serif;
  --awb-typography2-font-size: 24px;
  --awb-typography2-font-weight: 600;
  --awb-typography2-font-style: normal;
  --awb-typography2-line-height: 1.1;
  --awb-typography2-letter-spacing: 0px;
  --awb-typography2-text-transform: none;
  --awb-typography3-font-family: Inter, Arial, Helvetica, sans-serif;
  --awb-typography3-font-size: 16px;
  --awb-typography3-font-weight: 500;
  --awb-typography3-font-style: normal;
  --awb-typography3-line-height: 1.2;
  --awb-typography3-letter-spacing: 0.015em;
  --awb-typography3-text-transform: none;
  --awb-typography4-font-family: Inter, Arial, Helvetica, sans-serif;
  --awb-typography4-font-size: 16px;
  --awb-typography4-font-weight: 400;
  --awb-typography4-font-style: normal;
  --awb-typography4-line-height: 1.72;
  --awb-typography4-letter-spacing: 0.015em;
  --awb-typography4-text-transform: none;
  --awb-typography5-font-family: Inter, Arial, Helvetica, sans-serif;
  --awb-typography5-font-size: 13px;
  --awb-typography5-font-weight: 400;
  --awb-typography5-font-style: normal;
  --awb-typography5-line-height: 1.72;
  --awb-typography5-letter-spacing: 0.015em;
  --awb-typography5-text-transform: none;
  --site_width: 940px;
  --site_width-int: 940;
  --margin_offset-top: 0px;
  --margin_offset-bottom: 0px;
  --margin_offset-top-no-percent: 0px;
  --margin_offset-bottom-no-percent: 0px;
  --main_padding-top: 255px;
  --main_padding-top-or-55px: 255px;
  --main_padding-bottom: 40px;
  --hundredp_padding: 30px;
  --hundredp_padding-fallback_to_zero: 30px;
  --hundredp_padding-fallback_to_zero_px: 30px;
  --hundredp_padding-hundred_percent_negative_margin: -30px;
  --sidebar_width: 23%;
  --sidebar_gutter: 80px;
  --sidebar_2_1_width: 21%;
  --sidebar_2_2_width: 21%;
  --dual_sidebar_gutter: 40px;
  --grid_main_break_point: 1099;
  --side_header_break_point: 800;
  --content_break_point: 800;
  --typography_sensitivity: 0;
  --typography_factor: 1.5;
  --primary_color: #6d4412;
  --primary_color-85a: rgba(109, 68, 18, 0.85);
  --primary_color-7a: rgba(109, 68, 18, 0.7);
  --primary_color-5a: rgba(109, 68, 18, 0.5);
  --primary_color-35a: rgba(109, 68, 18, 0.35);
  --primary_color-2a: rgba(109, 68, 18, 0.2);
  --header_bg_repeat: repeat;
  --side_header_width: 280px;
  --side_header_width-int: 280;
  --header_padding-top: 0px;
  --header_padding-bottom: 0px;
  --header_padding-left: 0px;
  --header_padding-right: 0px;
  --menu_highlight_background: #a0ce4e;
  --menu_arrow_size-width: 23px;
  --menu_arrow_size-height: 12px;
  --nav_highlight_border: 0px;
  --nav_padding: 45px;
  --nav_padding-no-zero: 45px;
  --dropdown_menu_top_border_size: 3px;
  --dropdown_menu_width: 240px;
  --mainmenu_dropdown_vertical_padding: 7px;
  --menu_sub_bg_color: #f2efef;
  --menu_bg_hover_color: #f8f8f8;
  --menu_sub_sep_color: #dcdadb;
  --menu_h45_bg_color: rgba(255, 255, 255, 0);
  --nav_typography-font-family: Cinzel, Arial, Helvetica, sans-serif;
  --nav_typography-font-weight: 400;
  --nav_typography-font-size: 20px;
  --nav_typography-letter-spacing: 0px;
  --nav_typography-color: #333333;
  --nav_typography-color-65a: rgba(51, 51, 51, 0.65);
  --nav_typography-color-35a: rgba(51, 51, 51, 0.35);
  --nav_typography-text-transform: none;
  --menu_hover_first_color: #6d4412;
  --menu_hover_first_color-65a: rgba(109, 68, 18, 0.65);
  --menu_sub_color: #333333;
  --nav_dropdown_font_size: 15px;
  --flyout_menu_icon_font_size: 20px;
  --flyout_menu_icon_font_size_px: 20px;
  --snav_font_size: 12px;
  --sec_menu_lh: 44px;
  --header_top_menu_sub_color: #747474;
  --mobile_menu_icons_top_margin: 25px;
  --mobile_menu_nav_height: 35px;
  --mobile_header_bg_color: rgb(255, 255, 255);
  --mobile_menu_background_color: #6d4412;
  --mobile_menu_hover_color: #543100;
  --mobile_menu_border_color: #dadada;
  --mobile_menu_toggle_color: #333333;
  --mobile_menu_typography-font-family: "PT Sans";
  --mobile_menu_typography-font-size: 12px;
  --mobile_menu_typography-font-weight: 400;
  --mobile_menu_typography-line-height: 35px;
  --mobile_menu_typography-color: #f7f7f7;
  --mobile_menu_typography-text-transform: none;
  --mobile_menu_typography-font-size-30-or-24px: 24px;
  --mobile_menu_typography-font-size-open-submenu: var(
    --mobile_menu_typography-font-size,
    13px
  );
  --mobile_menu_font_hover_color: #f7f7f7;
  --menu_icon_size: 14px;
  --logo_alignment: center;
  --logo_background_color: #a0ce4e;
  --slidingbar_width: 300px;
  --slidingbar_width-percent_to_vw: 300px;
  --slidingbar_content_padding-top: 60px;
  --slidingbar_content_padding-bottom: 60px;
  --slidingbar_content_padding-left: 30px;
  --slidingbar_content_padding-right: 30px;
  --slidingbar_bg_color: #363839;
  --slidingbar_divider_color: #282a2b;
  --slidingbar_link_color: #bfbfbf;
  --slidingbar_link_color_hover: #6d4412;
  --footer_divider_color: #505152;
  --footer_headings_typography-font-family: "Open Sans", Arial, Helvetica,
    sans-serif;
  --footer_headings_typography-font-size: 13px;
  --footer_headings_typography-font-weight: 400;
  --footer_headings_typography-line-height: 13px;
  --footer_headings_typography-color: #333333;
  --footer_headings_typography-text-transform: none;
  --footer_text_color: #333333;
  --sidebar_bg_color: rgba(255, 255, 255, 0);
  --bg_image: none;
  --bg_repeat: repeat;
  --bg_color: #ffffff;
  --bg-color-overlay: normal;
  --bg_pattern: url("//kokkari.com/wp-content/themes/Avada/assets/images/patterns/pattern1.png");
  --content_bg_color: #ffffff;
  --content_bg_image: url("//kokkari.com/wp-content/uploads/seamlesstexture21_1200-cooler-2.jpg");
  --content_bg_repeat: repeat;
  --body_typography-font-family: "PT Sans", Arial, Helvetica, sans-serif;
  --body_typography-font-size: 16px;
  --base-font-size: 16;
  --body_typography-font-weight: 400;
  --body_typography-line-height: 1.38;
  --body_typography-color: #424242;
  --link_color: #844e02;
  --link_color-8a: rgba(132, 78, 2, 0.8);
  --link_hover_color: #6d4412;
  --link_hover_color-85a: rgba(109, 68, 18, 0.85);
  --link_hover_color-7a: rgba(109, 68, 18, 0.7);
  --link_hover_color-5a: rgba(109, 68, 18, 0.5);
  --link_hover_color-35a: rgba(109, 68, 18, 0.35);
  --link_hover_color-2a: rgba(109, 68, 18, 0.2);
  --awb-link_decoration_line: none;
  --awb-link_decoration_style: solid;
  --awb-link_decoration_thickness: 1px;
  --awb-link_decoration_line_hover: none;
  --awb-link_decoration_style_hover: solid;
  --awb-link_decoration_thickness_hover: 1px;
  --h1_typography-font-family: Cinzel, Arial, Helvetica, sans-serif;
  --h1_typography-font-weight: 400;
  --h1_typography-line-height: 1.41;
  --h1_typography-letter-spacing: 0px;
  --h1_typography-font-size: 34px;
  --h1_typography-color: #333333;
  --h1_typography-text-transform: none;
  --h1_typography-margin-top: 0.67em;
  --h1_typography-margin-bottom: 0.67em;
  --h2_typography-font-family: Cinzel, Arial, Helvetica, sans-serif;
  --h2_typography-font-weight: 400;
  --h2_typography-line-height: 1.13;
  --h2_typography-letter-spacing: 0px;
  --h2_typography-font-size: 24px;
  --h2_typography-color: #333333;
  --h2_typography-text-transform: none;
  --h2_typography-margin-top: 0em;
  --h2_typography-margin-bottom: 1.1em;
  --h3_typography-font-family: Cinzel, Arial, Helvetica, sans-serif;
  --h3_typography-font-weight: 400;
  --h3_typography-line-height: 1.2;
  --h3_typography-letter-spacing: 0px;
  --h3_typography-font-size: 20px;
  --h3_typography-color: #333333;
  --h3_typography-text-transform: none;
  --h3_typography-margin-top: 1em;
  --h3_typography-margin-bottom: 1em;
  --h4_typography-font-family: Cinzel, Arial, Helvetica, sans-serif;
  --h4_typography-font-weight: 400;
  --h4_typography-line-height: 1.54;
  --h4_typography-letter-spacing: 0px;
  --h4_typography-font-size: 13px;
  --h4_typography-color: #333333;
  --h4_typography-text-transform: none;
  --h4_typography-margin-top: 1.33em;
  --h4_typography-margin-bottom: 1.33em;
  --h5_typography-font-family: Cinzel, Arial, Helvetica, sans-serif;
  --h5_typography-font-weight: 400;
  --h5_typography-line-height: 1.5;
  --h5_typography-letter-spacing: 0px;
  --h5_typography-font-size: 12px;
  --h5_typography-color: #333333;
  --h5_typography-text-transform: none;
  --h5_typography-margin-top: 1.67em;
  --h5_typography-margin-bottom: 1.67em;
  --h6_typography-font-family: Cinzel, Arial, Helvetica, sans-serif;
  --h6_typography-font-weight: 400;
  --h6_typography-line-height: 1.55;
  --h6_typography-letter-spacing: 0px;
  --h6_typography-font-size: 11px;
  --h6_typography-color: #333333;
  --h6_typography-text-transform: none;
  --h6_typography-margin-top: 2.33em;
  --h6_typography-margin-bottom: 2.33em;
  --post_title_typography-font-family: Cinzel, Arial, Helvetica, sans-serif;
  --post_title_typography-font-weight: 400;
  --post_title_typography-line-height: 27px;
  --post_title_typography-letter-spacing: 0px;
  --post_title_typography-font-size: 18px;
  --post_title_typography-color: #333333;
  --post_title_typography-text-transform: none;
  --post_titles_extras_typography-font-family: Cinzel, Arial, Helvetica,
    sans-serif;
  --post_titles_extras_typography-font-weight: 400;
  --post_titles_extras_typography-line-height: 1.5;
  --post_titles_extras_typography-letter-spacing: 0px;
  --post_titles_extras_typography-font-size: 18px;
  --post_titles_extras_typography-color: #333333;
  --post_titles_extras_typography-text-transform: none;
  --blog_archive_grid_column_spacing: 40px;
  --dates_box_color: #eef0f2;
  --meta_font_size: 12px;
  --portfolio_archive_column_spacing: 12px;
  --portfolio_meta_font_size: 13px;
  --social_bg_color: #f6f6f6;
  --social_sharing_padding-top: 1.33em;
  --social_sharing_padding-right: 20px;
  --social_sharing_padding-bottom: 1.33em;
  --social_sharing_padding-left: 20px;
  --sharing_social_links_icon_color: #bebdbd;
  --sharing_social_links_box_color: #e8e8e8;
  --sharing_social_links_boxed_padding: 8px;
  --slider_nav_box_dimensions-width: 30px;
  --slider_nav_box_dimensions-height: 30px;
  --slider_arrow_size: 14px;
  --es_caption_font_size: 20px;
  --form_input_height: 29px;
  --form_input_height-main-menu-search-width: 250px;
  --form_text_size: 13px;
  --form_bg_color: #ffffff;
  --form_text_color: #aaa9a9;
  --form_text_color-35a: rgba(170, 169, 169, 0.35);
  --form_border_width-top: 1px;
  --form_border_width-bottom: 1px;
  --form_border_width-left: 1px;
  --form_border_width-right: 1px;
  --form_border_color: #d2d2d2;
  --form_focus_border_color: #d2d2d2;
  --form_focus_border_color-5a: rgba(210, 210, 210, 0.5);
  --form_border_radius: 0px;
  --privacy_bg_color: rgba(0, 0, 0, 0.1);
  --privacy_color: rgba(0, 0, 0, 0.3);
  --privacy_bar_padding-top: 15px;
  --privacy_bar_padding-bottom: 15px;
  --privacy_bar_padding-left: 30px;
  --privacy_bar_padding-right: 30px;
  --privacy_bar_bg_color: #363839;
  --privacy_bar_font_size: 13px;
  --privacy_bar_color: #8c8989;
  --privacy_bar_link_color: #bfbfbf;
  --privacy_bar_link_hover_color: #a0ce4e;
  --privacy_bar_headings_color: #dddddd;
  --scrollbar_background: #f2f3f5;
  --scrollbar_handle: #65bc7b;
  --related_posts_columns: 5;
  --related_posts_column_spacing: 44px;
  --image_rollover_icon_size: 15px;
  --image_rollover_text_color: #333333;
  --pagination_width_height: 30px;
  --pagination_box_padding-width: 6px;
  --pagination_box_padding-height: 2px;
  --pagination_border_width: 1px;
  --pagination_border_radius: 0px;
  --pagination_font_size: 12px;
  --timeline_bg_color: rgba(255, 255, 255, 0);
  --timeline_bg_color-not-transparent: rgba(255, 255, 255, 1);
  --timeline_color: #ebeaea;
  --grid_separator_color: #e0dede;
  --carousel_nav_color: #999999;
  --carousel_hover_color: #808080;
  --info_bg_color: #ffffff;
  --info_accent_color: rgba(128, 128, 128, 1);
  --danger_bg_color: #f2dede;
  --danger_accent_color: rgba(166, 66, 66, 1);
  --success_bg_color: #dff0d8;
  --success_accent_color: rgba(92, 163, 64, 1);
  --warning_bg_color: #fcf8e3;
  --warning_accent_color: rgba(217, 185, 23, 1);
  --alert_border_size: 1px;
  --button_padding-top: 13px;
  --button_padding-bottom: 13px;
  --button_padding-left: 29px;
  --button_padding-right: 29px;
  --button_typography-font-family: "PT Sans";
  --button_typography-font-weight: 400;
  --button_typography-letter-spacing: 0px;
  --button_font_size: 14px;
  --button_line_height: 17px;
  --button_text_transform: uppercase;
  --button_gradient_top_color: #e8c090;
  --button_gradient_bottom_color: #e8c090;
  --button_gradient_top_color_hover: #d69e5a;
  --button_gradient_bottom_color_hover: #d69e5a;
  --button_gradient_start: 0%;
  --button_gradient_end: 100%;
  --button_gradient_angle: 180deg;
  --button_radial_direction: center center;
  --button_accent_color: #784920;
  --button_accent_hover_color: #784920;
  --button_bevel_color: #000000;
  --button_box_shadow: none;
  --button_bevel_color_hover: #000000;
  --button_border_width-top: 1px;
  --button_border_width-right: 1px;
  --button_border_width-bottom: 1px;
  --button_border_width-left: 1px;
  --button_border_color: #784920;
  --button_border_hover_color: #784920;
  --chart_bg_color: rgba(255, 255, 255, 0);
  --checklist_icons_color: #ffffff;
  --checklist_circle_color: #ab8b65;
  --checklist_text_color: #424242;
  --checklist_item_size: 14px;
  --checklist_item_padding-top: 0.35em;
  --checklist_item_padding-bottom: 0.35em;
  --checklist_item_padding-left: 0;
  --checklist_item_padding-right: 0;
  --checklist_divider_color: #e0dede;
  --checklist_odd_row_bgcolor: rgba(255, 255, 255, 0);
  --checklist_even_row_bgcolor: rgba(255, 255, 255, 0);
  --col_margin-top: 0px;
  --col_margin-bottom: 20px;
  --col_spacing: 4%;
  --container_padding_default_top: 0px;
  --container_padding_default_bottom: 0px;
  --container_padding_default_left: 0px;
  --container_padding_default_right: 0px;
  --container_padding_100_top: 0px;
  --container_padding_100_bottom: 0px;
  --container_padding_100_left: 30px;
  --container_padding_100_right: 30px;
  --full_width_bg_color: rgba(255, 255, 255, 0);
  --full_width_border_sizes_top: 0px;
  --full_width_border_sizes_bottom: 0px;
  --full_width_border_sizes_left: 0px;
  --full_width_border_sizes_right: 0px;
  --full_width_border_color: #eae9e9;
  --content_box_bg_color: rgba(255, 255, 255, 0);
  --content_box_title_size: 18px;
  --content_box_title_color: var(--awb-color8);
  --content_box_body_color: var(--awb-color8);
  --content_box_icon_color: #ffffff;
  --content_box_hover_animation_accent_color: var(--awb-color4);
  --content_box_margin_top: 0px;
  --content_box_margin_bottom: 60px;
  --countdown_background_color: #a0ce4e;
  --countdown_counter_box_spacing: 10px;
  --countdown_counter_box_color: #333333;
  --countdown_counter_padding-top: 0.6em;
  --countdown_counter_padding-right: 1.1em;
  --countdown_counter_padding-bottom: 0.6em;
  --countdown_counter_padding-left: 1.1em;
  --countdown_counter_border_size: 0;
  --countdown_counter_border_color: #1d242d;
  --countdown_counter_border_radius: 4px;
  --countdown_counter_font_size: 18px;
  --countdown_counter_text_color: #ffffff;
  --countdown_label_font_size: 18px;
  --countdown_label_color: #ffffff;
  --countdown_heading_font_size: 18px;
  --countdown_heading_text_color: #ffffff;
  --countdown_subheading_font_size: 14px;
  --countdown_subheading_text_color: #ffffff;
  --countdown_link_text_color: #ffffff;
  --counter_box_color: #ab8b65;
  --counter_box_title_size: 50;
  --counter_box_icon_size: 50;
  --counter_box_body_color: #747474;
  --counter_box_body_size: 13;
  --counter_box_border_color: #e0dede;
  --flip_boxes_flip_duration: 0.4s;
  --flip_boxes_front_bg: #f6f6f6;
  --flip_boxes_front_heading: #333333;
  --flip_boxes_front_text: #747474;
  --flip_boxes_back_bg: #ab8b65;
  --flip_boxes_back_heading: #eeeded;
  --flip_boxes_back_text: #ffffff;
  --flip_boxes_border_size: 1px;
  --flip_boxes_border_color: rgba(255, 255, 255, 0);
  --flip_boxes_border_radius: 4px;
  --icon_color: #ffffff;
  --icon_color_hover: #ffffff;
  --icon_circle_color: #333333;
  --icon_circle_color_hover: #333333;
  --icon_border_size: #ffffff;
  --icon_border_color: #333333;
  --icon_border_color_hover: #333333;
  --icon_border_top_l_rad: 50%;
  --icon_border_top_r_rad: 50%;
  --icon_border_bot_r_rad: 50%;
  --icon_border_bot_l_rad: 50%;
  --before_after_font_size: 13;
  --before_after_accent_color: #ffffff;
  --before_after_handle_color: #ffffff;
  --before_after_handle_bg: rgba(255, 255, 255, 0);
  --before_after_transition_time: 0.5;
  --before_after_border_size: 0;
  --before_after_border_color: #e2e2e2;
  --before_after_border_radius: 0px;
  --popover_heading_bg_color: #f6f6f6;
  --popover_content_bg_color: #ffffff;
  --popover_border_color: #ebebeb;
  --popover_text_color: #747474;
  --pricing_box_color: #c49862;
  --progressbar_text_color: #ffffff;
  --progressbar_height: 37px;
  --progressbar_filled_color: #ab8b65;
  --progressbar_unfilled_color: #f6f6f6;
  --progressbar_filled_border_size: 0px;
  --progressbar_filled_border_color: var(--awb-color1);
  --sep_color: #e0dede;
  --tabs_bg_color: #ffffff;
  --tabs_inactive_color: #ebeaea;
  --tabs_border_color: #ebeaea;
  --testimonial_bg_color: #f6f6f6;
  --testimonial_text_color: #747474;
  --text_columns: 1;
  --text_column_min_width: 100px;
  --text_column_spacing: 2em;
  --text_rule_style: none;
  --title_border_color: #e0dede;
  --title_margin-top: 0px;
  --title_margin-right: 0px;
  --title_margin-bottom: 31px;
  --title_margin-left: 0px;
  --title_margin_mobile-top: 0px;
  --title_margin_mobile-right: 0px;
  --title_margin_mobile-bottom: 20px;
  --title_margin_mobile-left: 0px;
  --accordion_divider_color: #e0dede;
  --accordion_divider_hover_color: #e0dede;
  --accordian_inactive_color: #333333;
  --accordian_active_color: #6d4412;
  --faq_accordion_divider_color: #e0dede;
  --faq_accordion_divider_hover_color: #e0dede;
  --faq_accordion_title_typography-font-family: Cinzel;
  --faq_accordion_title_typography-font-size: 13px;
  --faq_accordion_title_typography-font-weight: 400;
  --faq_accordion_title_typography-line-height: 1.54;
  --faq_accordion_title_typography-text-transform: none;
  --faq_accordion_title_typography-letter-spacing: 0px;
  --faq_accordion_title_typography-color: #844e02;
  --faq_accordian_icon_color: #ffffff;
  --faq_accordian_inactive_color: #333333;
  --faq_accordion_content_typography-font-family: "PT Sans";
  --faq_accordion_content_typography-font-size: 16px;
  --faq_accordion_content_typography-font-weight: 400;
  --faq_accordion_content_typography-text-transform: none;
  --faq_accordion_content_typography-color: #424242;
}

body {
  background-color: var(--bg_color);
  background-blend-mode: var(--bg-color-overlay);
}

body {
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(
    135deg,
    rgba(6, 147, 227, 1) 0%,
    rgb(155, 81, 224) 100%
  );
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(
    135deg,
    rgb(122, 220, 180) 0%,
    rgb(0, 208, 130) 100%
  );
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(
    135deg,
    rgba(252, 185, 0, 1) 0%,
    rgba(255, 105, 0, 1) 100%
  );
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(
    135deg,
    rgba(255, 105, 0, 1) 0%,
    rgb(207, 46, 46) 100%
  );
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(
    135deg,
    rgb(238, 238, 238) 0%,
    rgb(169, 184, 195) 100%
  );
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(
    135deg,
    rgb(74, 234, 220) 0%,
    rgb(151, 120, 209) 20%,
    rgb(207, 42, 186) 40%,
    rgb(238, 44, 130) 60%,
    rgb(251, 105, 98) 80%,
    rgb(254, 248, 76) 100%
  );
  --wp--preset--gradient--blush-light-purple: linear-gradient(
    135deg,
    rgb(255, 206, 236) 0%,
    rgb(152, 150, 240) 100%
  );
  --wp--preset--gradient--blush-bordeaux: linear-gradient(
    135deg,
    rgb(254, 205, 165) 0%,
    rgb(254, 45, 45) 50%,
    rgb(107, 0, 62) 100%
  );
  --wp--preset--gradient--luminous-dusk: linear-gradient(
    135deg,
    rgb(255, 203, 112) 0%,
    rgb(199, 81, 192) 50%,
    rgb(65, 88, 208) 100%
  );
  --wp--preset--gradient--pale-ocean: linear-gradient(
    135deg,
    rgb(255, 245, 203) 0%,
    rgb(182, 227, 212) 50%,
    rgb(51, 167, 181) 100%
  );
  --wp--preset--gradient--electric-grass: linear-gradient(
    135deg,
    rgb(202, 248, 128) 0%,
    rgb(113, 206, 126) 100%
  );
  --wp--preset--gradient--midnight: linear-gradient(
    135deg,
    rgb(2, 3, 129) 0%,
    rgb(40, 116, 252) 100%
  );
  --wp--preset--duotone--dark-grayscale: url("#wp-duotone-dark-grayscale");
  --wp--preset--duotone--grayscale: url("#wp-duotone-grayscale");
  --wp--preset--duotone--purple-yellow: url("#wp-duotone-purple-yellow");
  --wp--preset--duotone--blue-red: url("#wp-duotone-blue-red");
  --wp--preset--duotone--midnight: url("#wp-duotone-midnight");
  --wp--preset--duotone--magenta-yellow: url("#wp-duotone-magenta-yellow");
  --wp--preset--duotone--purple-green: url("#wp-duotone-purple-green");
  --wp--preset--duotone--blue-orange: url("#wp-duotone-blue-orange");
  --wp--preset--font-size--small: 12px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 24px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--xlarge: 32px;
  --wp--preset--font-size--huge: 48px;
  --wp--preset--spacing--20: 0.44rem;
  --wp--preset--spacing--30: 0.67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
}
